Source: stormlib
Section: libs
Priority: optional
Maintainer: Pali Rohár <pali.rohar@gmail.com>
Build-Depends: debhelper, cmake, zlib1g-dev, libbz2-dev, libtomcrypt-dev (>= 1.17-3), pkg-config
Standards-Version: 3.9.8
Homepage: http://www.zezula.net/en/mpq/stormlib.html

Package: libstorm9
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for accessing the MPQ archives
 The StormLib library is a pack of modules, written in C++, which are able to
 read and also to write files from/to the MPQ archives.
 .
 This package contains StormLib runtime library needed for StormLib programs.

Package: libstorm-dev
Section: libdevel
Architecture: any
Depends: libstorm9 (= ${binary:Version}), ${misc:Depends}
Description: Library for accessing the MPQ archives (development files)
 The StormLib library is a pack of modules, written in C++, which are able to
 read and also to write files from/to the MPQ archives.
 .
 This package contains development files needed for building StormLib programs.
